services:
  db:
    image: postgres:14.20
    environment:
      POSTGRES_USER: postgres # to change later 
      POSTGRES_PASSWORD: postgres # to change later
      POSTGRES_DB: jobtracker
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  pgdata:
